
<div id="Child" class="registrationForm">
    <form onsubmit="submitChild(event);" id='child-form' class="w3-container w3-card-4 w3-text-yellow" style="padding-bottom: 10px;">        
        <h2 id='reg-header' class="w3-center w3-text-teal">{{title}}</h2>          
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                <div class="w3-rest">
                    <input [(ngModel)]='child.name' #childNameBox (keyup)='completeChild(childNameBox.value);' class="w3-input w3-border w3-round-medium" name="child-name" id="child-name" type="text" placeholder="Name" required>
                </div>
            </div>
        <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-birthday-cake"></i></div>
            <div class="w3-rest">
                <input #childDobBox [(ngModel)]='child.date_of_birth' class="w3-input w3-border w3-round-medium date-input" id='child-dob'  name="child-dob" type="date" placeholder="Birthday" min="1900-01-01" max="2020-04-30" required>
            </div>
        </div>
        <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-users"></i></div>
            <div class="w3-rest">
            <select #childEthnicityBox [(ngModel)]='child.ethnicity' class="w3-input w3-border w3-round-medium child-ethnicity-dropdown" id='child-ethnicity' name="child-ethnicity" type="text" placeholder="Ethnicity">
                <option *ngFor="let ethnicity of ethnicityList" value="{{ethnicity}}">{{ethnicity}}</option>
            </select>                  
            <label class='w3-text-black' for="child-ethnicity">ethnicity</label>
            </div>
        </div>

        <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-transgender-alt"></i></div>
            <div class="w3-rest">
                <select #childGenderBox [(ngModel)]='child.gender' class="w3-input w3-border w3-round-medium" id='child-gender' name="child-gender" type="text" placeholder="Gender">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">Other</option>                  
                </select>
                <label class='w3-text-black' for="child-gender">gender</label>
            </div>
        </div>
        <input (click)='submitChild();$event.preventDefault();' class="w3-button w3-right w3-text-teal w3-border" type="submit" value="Submit">
    </form>
</div>
