<div id='child-before' class="w3-container w3-card-4" style="padding: 5px;">
    <h3 class="w3-center w3-text-teal">Been Here Before?</h3>
    <table class="w3-table w3-hoverable w3-bordered">
        <tbody id='autocomplete-table-child'>
            <tr class='w3-cell-row'>
                <th>Name</th>
                <th class='w3-right-align'>Birthday<br> (dd/mm)</th>
            </tr>
            <tr *ngFor="let carer of carers" class='w3-cell-row jonobutton' (click)='goToFamily(carer.family_id);'>
                <td>{{carer.name}}</td>
                <td class='w3-right-align'>{{carer.date_of_birth | date: 'dd/MM'}}</td>
            </tr>
            <tr *ngFor="let child of children" (click)='goToFamily(child.family_id);' class='w3-cell-row jonobutton'>
                <td>{{child.name}}</td>
                <td class='w3-right-align'>{{child.date_of_birth | date: 'dd/MM'}}</td>
            </tr>
        </tbody>
    </table>
</div>