<header class="w3-container w3-text-teal w3-theme-l2">   
    <i class="w3-xlarge fa fa-times w3-right w3-text-teal w3-button delete-button" (click)='deleteModal = true;' style="padding:16px 12px;"></i>
    <i class="w3-xlarge fa fa-edit w3-right w3-text-teal w3-button edit-button" (click)='editModal = true;' style="padding:16px 12px;"></i>             
    <h4 class='carer-name'>{{carer.name}}</h4>
</header>
<add-visit [carerId]='carer.carer_id' [familyId]='carer.family_id'></add-visit>
<div class="w3-container">
    <table class="w3-table w3-text-gray">          
        <tr>
        <td>Date of Birth:</td>
        <td class='carer-dob'>{{carer.date_of_birth | date:'dd/MM/yyyy'}}</td>                             
        </tr>
        <tr>
        <td>Gender:</td>
        <td class='carer-gender'>{{carer.gender}}</td>                
        </tr>
        <tr>
        <td>Ethnicity:</td>
        <td class='carer-ethnicity'>{{carer.ethnicity}}</td>
        </tr>                          
        <tr>
        <td>First Seen:</td>
        <td class='carer-firstseen'>{{carer.first_seen | date:'medium'}}</td>
        </tr>
        <tr>
        <td>Photo Consent?:</td>
        <td class='carer-photoconsent'>{{carer.photo_consent ? 'Yes' : 'No'}}</td>
        </tr>
        <tr>
        <td>Address:</td>
        <td class='carer-address'>{{carer.address}}</td>
        </tr>
        <tr>
        <td>Postal Code:</td>
        <td class='carer-postalcode'>{{carer.postal_code}}</td>
        </tr>
        <tr>
        <td>City:</td>
        <td class='carer-city'>{{carer.city}}</td>
        </tr>
        <tr>                
        <td>Phone:</td>
        <td class='carer-phone'>{{carer.phone}}</td>
        </tr>
        <tr>
        <td>Email:</td>
        <td class='carer-email'>{{carer.email}}</td>
        </tr>
        <tr>
        <td>Benefits:</td>
        <td class='carer-benefits'>{{carer.benefits}}</td>
        </tr>
        <tr>
        <td>Lone Carer?:</td>
        <td class='carer-lonecarer'>{{carer.lone_carer}}</td>
        </tr>
        <tr>
        <td>Number of Visits:</td>
        <td (click)='visitModal = true;' class='carer-numvisits w3-text-teal'>
            <div class='w3-hover-opacity jono-button'>
                {{carer.number_of_visits}} (view)
            </div>
        </td>
        </tr>
    </table>        
    <hr>  
</div>

<delete-confirm [deleteModal]='deleteModal' (deleteModalEmitter)='closeDeleteModal($event)' [entity]='entity' [entityId]='carer.carer_id'></delete-confirm>
<div *ngIf="editModal" (click)='closeEditModal($event);' id="edit-carer-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container" style='padding-left:0px;padding-right:0px;'>
            <carer-edit [carer]='carer' [title]='editTitle' (onSubmit)='onEdit($event)'></carer-edit>
        </div>
    </div>
</div>

<div *ngIf="visitModal" (click)='closeVisitModal($event);' id="visit-carer-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container" style='padding-left:0px;padding-right:0px;'>
            <visit-list [visits]='carer.visits'></visit-list>
        </div>
    </div>
</div>

