<header class="w3-container w3-text-teal w3-theme-l2">        
    <i class="w3-xlarge fa fa-times w3-right w3-text-teal w3-button delete-button" (click)='deleteModal=true;' style="padding:16px 12px;"></i>
    <i class="w3-xlarge fa fa-edit w3-right w3-text-teal w3-button edit-button" (click)='editModal=true;' style="padding:16px 12px;"></i>        
    <h4 class='child-name'>{{child.name}}</h4>
</header>   
<add-visit [childId]='child.child_id' [familyId]='child.family_id'></add-visit>
<div class="w3-container">
    <table class="w3-table w3-text-gray">          
        <tr>
        <td>Date of Birth:</td>
        <td class='child-dob'>{{child.date_of_birth | date:'dd/MM/yyyy'}}</td>                             
        </tr>
        <tr>
        <td>Gender:</td>
        <td class='child-gender'>{{child.gender}}</td>                             
        </tr>
        <tr>
        <td>Ethnicity:</td>
        <td class='child-ethnicity'>{{child.ethnicity}}</td>                             
        </tr>                          
        <tr>
        <td>First Seen:</td>
        <td class='child-firstseen'>{{child.first_seen | date:'medium'}}</td>
        </tr>
        <tr>
        <td>Photo Consent:</td>
        <td class='child-photoconsent'>{{child.photo_consent}}</td>
        </tr>
        <tr>
        <td>Number of Visits:</td>
        <td class='child-numvisits'>{{child.number_of_visits}}</td>
        </tr>
    </table>
    <hr>  
</div>

<delete-confirm [deleteModal]='deleteModal' (deleteModalEmitter)='closeDeleteModal($event)' [entity]='entity' [entityId]='child.child_id'></delete-confirm>
<div *ngIf="editModal" (click)='closeEditModal($event);' id="edit-child-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container" style='padding-left:0px;padding-right:0px;'>
            <child-edit [child]='child' [title]='editTitle' (onSubmit)='onEdit($event)'></child-edit>
        </div>
    </div>
</div>