    <div class="w3-row w3-padding-64">
        <div  class="w3-half w3-container" style="margin-top:16px">
            <div class="w3-card-4" style="margin-left:8px">
                <i class="w3-xlarge fa fa-user-plus w3-right w3-text-teal w3-button" (click)='childModal = true;' style="padding:6px 12px;"></i>
                <h3 class="w3-center w3-text-teal">Children</h3>
                <div *ngFor="let child of family.children" id='child-card-placeholder'>
                    <display-child [child]="child"></display-child>
                </div>
            </div>
        </div>
        <div class="w3-half w3-container" style="margin-top:16px">
            <div class="w3-card-4" style="margin-left:8px">
                <i class="w3-xlarge fa fa-user-plus w3-right w3-text-teal w3-button"  (click)='carerModal = true;' style="padding:6px 12px;"></i>
                <h3 class="w3-center w3-text-teal">Carers</h3>
                <div *ngFor="let carer of family.carers" id='carer-card-placeholder'>
                    <display-carer [carer]="carer"></display-carer>
                </div>
            </div>
        </div>
  </div>
  <div class="w3-row w3-padding-8">
      <div class="w3-half w3-container">
        <agm-map style="width:100%; height:400px;" [latitude]="lat" [longitude]="lng" [zoom]="12">
            <agm-marker-cluster  [maxZoom]="15" [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
                <agm-marker *ngFor='let carer of family.carers' [latitude]="carer.latitude" [longitude]="carer.longitude">
                    <agm-info-window>
                        <div>
                            <h5>Carer Home</h5>
                            Name:  {{carer.name}}
                        </div>
                    </agm-info-window>
                </agm-marker>
                <agm-marker *ngFor='let visit of family.visits' [latitude]="visit.location.latitude" [longitude]="visit.location.longitude">
                    <agm-info-window>
                        <div>
                            <h5><div *ngIf='visit.carer_id'>Carer</div> <div *ngIf='visit.child_id'>Child</div> Visit</h5>
                            <ng-container *ngIf='visit.carer_id'>
                                <ng-container *ngFor="let carer of family.carers">
                                    <div *ngIf='visit.carer_id==carer.carer_id'>
                                        Name: {{carer.name}}
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf='visit.child_id'>
                                    <ng-container *ngFor="let child of family.children">
                                        <div *ngIf='visit.child_id==child.child_id'>
                                            Name: {{child.name}}
                                        </div>
                                    </ng-container>
                                </ng-container>
                        </div>    
                    </agm-info-window>
                </agm-marker>
            </agm-marker-cluster>
        </agm-map>        
      </div>
      <div class="w3-half w3-container">
        <div class="w3-card-4" style="margin-left:8px">
            <i class="w3-xlarge fa fa-plus-square w3-right w3-text-teal w3-button"  (click)='noteModal = true;' style="padding:6px 12px;"></i>
            <h3 class="w3-center w3-text-teal">Notes</h3>
            <div *ngFor="let note of family.notes" id='note-card-placeholder'>
                <div id='note-card' class="w3-border-top">
                    <div class="w3-container w3-text-dark-grey" style='padding-top:16px;'>
                        <div class='note-text'>{{note.note}}</div>
                        <hr> 
                        <div class='w3-text-grey'>
                            By <i class='note-author'>{{note.note_taker}}</i> <br /> <i class='note-timestamp'>{{note.timestamp | date:'medium'}}</i><br/><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
  <div class="w3-row w3-padding-8">      
      <div class="w3-container">
        <div class="w3-card-4" style="margin-left:8px">
            <i class="w3-xlarge fa fa-plus-square w3-right w3-text-teal w3-button"  (click)='referralModal = true;' style="padding:6px 12px;"></i>
            <h3 class="w3-center w3-text-teal">Referrals</h3>
            <div *ngFor="let referral of family.referrals" id='referral-card-placeholder'>
                <div id='referral-card' class="w3-border-top">
                    <div class="w3-container w3-text-dark-grey" style='padding-top:16px;'>        
                        <i class='referral-service'>{{referral.service.name}}</i>
                        <i class="w3-large fa fa-times w3-text-teal w3-button referral-delete-button" (click)='referralId = referral.referral_id;referralDelete = true;'  style="padding:16px 12px;"></i>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
<br/>
<br/>

<div *ngIf="childModal" (click)='closeModal($event);' id="child-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container" style='padding-left:0px;padding-right:0px;'>
            <child-edit [familyId]='family_id' (onSubmit)='onChildSubmit($event)'></child-edit>
        </div>
    </div>
</div>

<div *ngIf="carerModal" (click)='closeModal($event);' id="carer-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container" style='padding-left:0px;padding-right:0px;'>
            <carer-edit [familyId]='family_id' (onSubmit)='onCarerSubmit($event)'></carer-edit>
        </div>
    </div>
</div>

<div *ngIf="noteModal" (click)='closeModal($event);' id="note-modal" class="w3-modal">    
    <div class="w3-modal-content">
        <div class="w3-container" style='padding-left:0px;padding-right:0px;'>
            <edit-note [family_id]='family_id' ></edit-note>
        </div>
    </div>
</div>

<div *ngIf="locationModal" (click)='closeModal($event);' id='location-modal' class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container" style='padding-left:0px;padding-right:0px;'>
            <div id='location-list-placeholder'></div>
        </div>
    </div>
</div>

<div *ngIf="visitModal" (click)='closeModal($event);' id='visit-modal' class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container" style='padding-left:0px;padding-right:0px;'>
            <div id='visit-placeholder'>
                <div class='w3-container w3-card-4'>
                    <h3 id='visit-title' class="w3-text-teal">Visits</h3>    
                    <div id='visit-list'></div>
                </div>
                <div id='visit-instance' style='display:none;'>
                    <i id='visit-elm' class='visit-element'></i>
                    <i class="w3-text-teal w3-button visit-delete-button"  style="padding:16px 12px;">(delete)</i>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="childVisitModal" (click)='closeModal($event);' id='change-visit-modal' class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container" style='padding-left:0px;padding-right:0px;'>
            <div id='change-visit-form' class="w3-container w3-card-4 w3-text-yellow" style="padding-bottom: 10px;">
                <h2 id='visit-reg-header' class="w3-center w3-text-teal">Set Default Visit</h2>          
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-map"></i></div>
                        <div class="w3-rest">
                            <select class="w3-input w3-border w3-round-medium location-dropdown" id='visit-location' name="visit-location" type="text" placeholder="Location">
                                <option value="" disabled selected hidden>Location</option>
                            </select>
                        </div>
                    </div>
                <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-"></i></div>
                    <div class="w3-rest">
                        <select class="w3-input w3-border w3-round-medium project-dropdown" id='visit-project' name="visit-project" type="text" placeholder="Project">
                            <option value="" disabled selected hidden>Project</option>
                        </select>
                    </div>
                </div>
                <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-calendar"></i></div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border w3-round-medium date-input" id='visit-date'  name="visit-date" type="date" placeholder="Visit Date" min="1900-01-01" max="2099-04-30">
                        <i class="w3-right w3-text-teal w3-small" style='margin-right:3px;'>optional</i>
                    </div>
                </div>
                <div id='visit-error' class='w3-left w3-text-red'></div>
                <input onclick='setDefaultVisit();' class="w3-button w3-right w3-text-teal w3-border" type="submit" value="Set Default Visit" style='margin-left:10px;'>
                <input id='visit-submit' onclick='addAndSetVisit(event, this);' class="w3-button w3-right w3-text-teal w3-border" type="submit" value="Add Visit">
            </div>
        </div>
    </div>
</div>

<div *ngIf="projectModal" (click)='closeModal($event);' id='project-modal' class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container" style='padding-left:0px;padding-right:0px;'>
            <div id='project-list-placeholder'></div>
        </div>
    </div>
</div>

<div *ngIf="referralModal" (click)='closeModal($event);' id="referral-modal" class="w3-modal">
    <div class="w3-modal-content">        
        <div class='w3-container w3-card-4'>
            <h3 id='serviceselector-title' class="w3-text-teal">Services</h3>    
            <div *ngFor='let service of services' id='service-instance' class='active-element jono-button'>
                <i (click)='addService(service.service_id); referralModal = false;' id='service-elm' class='service-element'>{{service.name}}</i>
                <br/>
            </div>
        </div>        
    </div>
</div>

<delete-confirm [deleteModal]='referralDelete' (deleteModalEmitter)='closeDeleteModal($event)' [entity]='referralEntity' [entityId]='referralId'></delete-confirm>